
.dp{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 50px;
grid-rows-gap: 0px;
justify-content: space-evenly;
     border: 1px solid rgb(245, 135, 9);
     text-align: justify;
        }
        .div1 {grid-area: 1 / 1 / 2 / 2;}
        .div2 {grid-area: 1 / 2 / 2 / 3;}
        img{
            display:flex;
            width: 100%;
            height: 80%;
            padding-left: 50px;
            
            margin: 20px auto;}