*{
    box-sizing: border-box;
}
body{
   font-family: sans-serif;
   color:rgb(144, 238, 207);
   padding:0 1.5em;
}
.contacto{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}
.contact {
    text-align: center;
    font-size: 3em;
}
.contact span{
    color: rgb(87, 39, 92);
}
.c-con{
    box-shadow: 0 0 20px 0 rgb(36, 54, 71, .3);
}
.c-con> * {
    padding: 1em;
}
.c-form{
    background: rgb(87, 84, 95);
}
.c-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.c-form form .block{
    grid-column: 1/3;
}
.c-form form{
margin: 0;
padding: 1em;
}

.c-form form button,
.c-form form input,
.c-form form textarea{
    width: 100%;
padding: .7em;
background: none;
outline: 0;
color:white;
border-bottom: 1px solid rgb(52, 49, 61);
}
.c-form form button{
    background: rgb(124, 112, 231);
    color:#000;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}
.c-form form button:hover,
.c-form form button:focus{
background-color: rgb(70, 148, 122);
color: white;
transition: background-color 1s ease-out;
outline: 0;
}
.c-info{
    background: rgb(0, 0, 0);
}
.c-info h4,
.c-info ul,
.c-info p{
    text-align: center;
    margin: 0 0 1rem 0;
}
.c-info ul{
    list-style: none;
    padding: 0;
}
.c-info ul li{
    padding: .3em;
}

@media(min-widht: 700px){
    body{
        padding 0 4rem;
    }
    .c-con {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .c-con>*{
padding: 2em;
    }
    .c-info h4,
    .c-info ul,
    .c-info p{
        padding: 1em;
        text-align: left;
    }
}

