*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-lines: border-box;
}

.navegacion{
    width: 550px;
    margin:30px auto;
    background-color: black;
}
.navegacion ul{
list-style: none;
}
/*Menú*/
.menu > li{
    display: inline-block;
}
.menu > li > a{
    display: block;
    padding: 15px 20px;
    color:aliceblue;
    font-family: 'open sans';
    text-decoration: none;
}
.menu li a:hover{
    color:aquamarine;
    transition: all .3s;
}

/*Submenú*/
.submenu{
    position: absolute;
    background: black;
    width: 12%;
    visibility: hidden;
    opacity:0;
    transition: opacity 1.5s;
    text-align: center;
}
.submenu li a{
    display: block;
    padding: 15px;
    color:antiquewhite;
    font-family: 'Open Sans';
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;

}
/*Pestañas*/
.rostro{
    position: absolute;
    background: rgb(0, 16, 20);
    width: 75%;
    visibility: hidden;
    opacity:0;
    transition: opacity 1.5s;
    

}
.rostro li a li a{
    display: block;
    padding: 15px;
    color:antiquewhite;
    font-family: 'Open Sans';
    text-decoration: none;
    
    
}

.submenu li:hover .rostro{
    visibility: visible;
    opacity: 1;
    right:-120px;
    top: 0;
}
.cuerpo{
    position: absolute;
    background: rgb(3, 47, 58);
    width: 75%;
    visibility: hidden;
    opacity:0;
    transition: opacity 1.5s;
    

}
.cuerpo li a li a{
    display: block;
    padding: 15px;
    color:antiquewhite;
    font-family: 'Open Sans';
    text-decoration: none;
    
    
}

.submenu li:hover .cuerpo{
    visibility: visible;
    opacity: 1;
    right:-120px;
    top: 52;
}