.banner{
    width: 650px;
    height: 300px;
    border: 5px solid rgb(255, 192, 97);
    margin: auto;
   
    background-size: 100% 100%;
    
    animation: banner 10s infinite;
    animation-direction:alternative;
}
@keyframes banner{
    0%, 30% {
        background-image: url(image/LogoES.png);
    opacity: 1;
    }
    31%, 34%{
        opacity: 0.9;
    }
    35%, 65% {
        
        background-image: url(image/EmikoShopping.png);
        opacity: 1;
    }
    66%, 69%{
        opacity: 0.9;
    }
    70%, 100% {
        opacity: 1;
        background-image: url(image/LogoES.png);
    
    }
}
body{
    background-color: FBF0C8;
    font-family:sans-serif;
}
  
  .container{
    margin: 100px auto;
    background-color: rgb(26, 43, 49);
    width: 530px;
    padding: 40px;
  }
  
  ul, li{
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 450px;
    height: 300px;
  }
  
  ul.slider li{
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
  }
  
  ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  ul.slider li:first-child{
      opacity: 1; 
  }
  
  ul.slider li:target{
      opacity: 1; 
  }
  
  .Dia{
    text-align: center;
    margin: 20px;
  }
  
  .Dia li{
    display: inline-block;
    text-align: center;
  }
  
  .Dia li a{
    display: inline-block;
    color: rgb(83, 255, 246);
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 100%;
  }
  .interes{
    text-align: center;
    font-size: 24px;
    height: 40px;
  }
 .page-content{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     border: 1px solid rgb(46, 9, 32);
     text-align: center;
 }
 .product-container {
     margin: 15px;
padding: 2px 16px;
 }
 .product-container img{
     width: 300px;
 }
 .product-container:hover{
box-shadow: 0 8px 16px 0 rgb(116, 146, 245);
 }
 .product-container img{
     width: 300px;
 }